@using Core.Models
@model Users
 <header>@Model.Name_Surname</header>
Giriş Başarılı
<br />
<br />
<br />
<a asp-area="" asp-controller="Company" asp-action="GetCompany">Get Company Server</a>
<br />
<br />
<br />
<a asp-area="" asp-controller="Company" asp-action="GetAddressCards">Get Address Cards List</a>
<br/>
<br/>
<br/>
<a asp-area="" asp-controller="Login" asp-action="Logout">Logout</a>